#demo1,
#demo2 {
    width: 800px;
    margin: 0 auto;
}

#demo1 ul li,
#demo2 ul li {
    width: 180px;
    height: 180px;
    float: left;
    overflow: hidden;
    margin: 0 5px 10px;
}

hr {
    clear: both;
}
